<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Crm Suite">

    <listeners>
        <listener class-name="org.example.demotesting.simpleTest.Listeners"></listener>

    </listeners>
    <test name="AddCustomer">
        <classes>
            <class name="org.example.demotesting.simpleTest.SimpleTest">
                <methods>
                    <include name="AddCustomer"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="AddPurchase">
        <classes>
            <class name="org.example.demotesting.simpleTest.SimpleTest">
                <methods>
                    <include name="AddPurchase"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="EditProfile">
        <classes>
            <class name="org.example.demotesting.simpleTest.SimpleTest">
                <methods>
                    <include name="EditProfile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>